@model DCProyectoPersMVC.Models.DCBebida

@{
    ViewData["Title"] = "DCDetails";
}

<h1>Details</h1>

<div>
    <h4>DCBebida</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DC_Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DC_Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DC_Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DC_Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DC_Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DC_Tipo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="DCEdit" asp-route-id="@Model?.DC_BebidaID">Edit</a> |
    <a asp-action="DCIndex">Back to List</a>
</div>
